<style type="text/css">


</style>

{#<pre>#}
{#    {{ dump(data) }}#}
{#</pre>#}
<div class="contrat__content">

    <!-- article 3 -->
    <p class="center-text mb-20 mt-30">Article 3 – OBLIGATIONS DU PRESTATAIRE</p>
    <div class="flex contrat__articles__item">
        <p>1°)</p>
        <p class="mb-20">Les sites du prestataire correspondent aux instructions (Guide relatif aux mesures techniques
            et organisationnelles de la protection des données) du Préposé fédéral à la protection des données et à la
            transparence (PFPDT).</p>
    </div>
    <div class="flex contrat__articles__item">
        <p>2°)</p>
        <p class="mb-20">Le prestataire n’emploiera que des personnels tenus au respect du secret des données et
            instruits des conséquences du non-respect de cette obligation.</p>
    </div>
    <div class="flex contrat__articles__item">
        <p>3°)</p>
        <p class="mb-20">Pour le transport des supports de données, le prestataire mettra en œuvre des véhicules
            appropriés, équipés de dispositifs de sécurité et d’une carrosserie de sécurité solide et fermée, pour
            protéger les supports de données contre tout accès par des personnes non autorisées et en empêcher la
            perte.</p>
    </div>
    <div class="flex contrat__articles__item">
        <p>4°)</p>
        <p class="mb-20">Jusqu’à leur destruction, le prestataire stockera les supports de données protégés de manière
            appropriée et dans des locaux fermés sécurisés contre tout accès par des personnes non autorisées.
        </p>
    </div>
    <div class="flex contrat__articles__item">
        <p>5°)</p>
        <p class="mb-20">Dans un délai de 24 heures après leur prise en charge, le prestataire procédera à la
            destruction intégrale, avec retour d’information garanti, des supports de données dans une installation
            spécifiquement construite à cette fin. Le matériau sera broyé en particules d’une taille conforme à DIN
            66399, niveau de sécurité P 4.</p>
    </div>
    <div class="flex contrat__articles__item">
        <p>6°)</p>
        <p class="mb-20">Le prestataire prendra des mesures organisationnelles et techniques suffisantes, conformément à
            l’article 8 de l’Ordonnance relative à la loi fédérale sur la protection des données (OLPD) et aux
            recommandations du Préposé fédéral à la protection des données et à la transparence (PFPDT) pour interdire
            aux personnes non autorisées l’accès à l’installation de destruction. La destruction sera surveillée au
            moyen d’un système de vidéo. Le déchargement des véhicules de transport sera sécurisé par des sas spéciaux
            pour véhicules. Le vidage des collecteurs de sécurité interviendra exclusivement dans des zones de sécurité
            fermées. </p>
    </div>
    <div class="flex contrat__articles__item">
        <p>7°)</p>
        <p class="mb-20">Après réalisation de la destruction des supports de données, le prestataire délivrera au
            client, sous forme écrite, une déclaration de destruction de caractère obligatoire. Celle-ci sera remise au
            plus tard conjointement avec l’établissement de la facture. </p>
    </div>
    <div class="flex contrat__articles__item">
        <p>8°)</p>
        <p class="mb-20">Dans la mesure des possibilités techniques, le matériau des supports de données détruits fera
            l’objet d’un recyclage matières. Les matières résiduelles seront éliminées de manière appropriée. </p>
    </div>
    <div class="flex contrat__articles__item">
        <p>9°)</p>
        <p class="mb-20">Pour la destruction des supports de données qui lui seront remis, le prestataire ne fera appel
            ni à des tiers, ni à des sous-traitants. Les transports, le stockage et la destruction par des
            entreprises-mères ou filiales des entreprises Reisswolf ne sont pas visés par cette disposition. Le recours
            éventuellement nécessaire à la sous-traitance ne sera possible qu’avec l’autorisation écrite préalable du
            client. </p>
    </div>
    <div class="flex contrat__articles__item">
        <p>10°)</p>
        <p class="mb-20">Les dispositions de la Loi fédérale sur la protection des données (LPD), de l’Ordonnance
            relative à la loi fédérale sur la protection des données (OLPD) et les instructions du Préposé à la
            protection des données et à la transparence (PFPDT) relatives au traitement de données pour compte d’autrui
            sont connues du prestataire et seront intégralement prises en compte. La même règle s’applique en ce qui
            concerne l’article 47 de l’extrait de la Loi fédérale sur les banques (LB) relatif au secret.
        </p>
    </div>
    <div class="flex contrat__articles__item">
        <p>11°)</p>
        <p class="mb-20">Pour raisons de force majeure, le prestataire pourra, le cas échéant, suspendre ses prestations
            en partie ou en totalité ou, en accord avec le client, les réaliser d’une autre manière ou à une date
            ultérieure.
        </p>
    </div>
    <div class="flex contrat__articles__item">
        <p>12°)</p>
        <p class="mb-20">Toute irrégularité dans l’exécution du contrat ou des obligations contractuelles devra
            immédiatement être signalée à l’interlocuteur auprès du client.
        </p>
    </div>
</div>
