<style type="text/css">


</style>

{#<pre>#}
{#    {{ dump(data) }}#}
{#</pre>#}
<div class="contrat__content">

    <!-- article 3 -->
    <p class="center-text mb-20 mt-30">§ 3 – PFLICHTEN DES AUFTRAGNEHMERS</p>
    <div class="flex contrat__articles__item">
        <p>1°)</p>
        <p class="mb-20">Die Betriebe des Auftragnehmers entsprechen den Weisungen des eidg. Datenschutzbeauftragten
            (Leitfaden zu den technischen und organisatorischen Massnahmen des Datenschutzes).</p>
    </div>
    <div class="flex contrat__articles__item">
        <p>2°)</p>
        <p class="mb-20">Der Auftragnehmer beschäftigt ausschliesslich Personen, die auf das Datengeheimnis verpflichtet
            wurden und auf die Folgen einer Missachtung hingewiesen worden sind.</p>
    </div>
    <div class="flex contrat__articles__item">
        <p>3°)</p>
        <p class="mb-20">Der Auftragnehmer setzt für den Transport der Datenträger geeignete Fahrzeuge mit
            Sicherheitsvorkehrungen und festem, geschlossenen Sicherheitsaufbau ein, um die Datenträger vor dem Zugriff
            von Unbefugten zu schützen und Verlust zu verhindern.</p>
    </div>
    <div class="flex contrat__articles__item">
        <p>4°)</p>
        <p class="mb-20">Der Auftragnehmer lagert die Datenträger bis zu deren Vernichtung sachgerecht und in
            geschlossenen Räumen, die gegen den Zugriff von Unbefugten gesichert sind.
        </p>
    </div>
    <div class="flex contrat__articles__item">
        <p>5°)</p>
        <p class="mb-20">Der Auftragnehmer zerkleinert das Material innerhalb von 24 Stunden nach der Übernahme restlos
            und rückinformationssicher in einer eigens dafür konstruierten Anlage. Das Material wird in Partikelgrössen
            gemäss DIN 66399, Sicherheitsstufe P 4, geschreddert.</p>
    </div>
    <div class="flex contrat__articles__item">
        <p>6°)</p>
        <p class="mb-20">Der Auftragnehmer trifft ausreichende organisatorische und technische Massnahmen, entsprechend
            Art. 8 VDSG und den Empfehlungen des eidg. Datenschutzbeauftragten, um Unbefugten den Zutritt zur
            Vernichtungsanlage zu verwehren. Die Vernichtung wird mittels einer Video-Anlage überwacht. Die Entladung
            der Transportfahrzeuge wird durch spezielle Fahrzeugschleusen abgesichert. Die Entleerung der
            Sicherheitsbehälter erfolgt ausschliesslich in geschlossenen Sicherheitsbereichen.</p>
    </div>
    <div class="flex contrat__articles__item">
        <p>7°)</p>
        <p class="mb-20">Der Auftragnehmer stellt nach der erfolgten Vernichtung der Datenträger dem Auftraggeber eine
            verbindliche, schriftliche Vernichtungserklärung aus. Diese wird spätestens zusammen mit Erstellung der
            Rechnung ausgehändigt.</p>
    </div>
    <div class="flex contrat__articles__item">
        <p>8°)</p>
        <p class="mb-20">Das vernichtete Datenträgermaterial wird, soweit technisch möglich, der Rohstoffrückgewinnung
            zugeführt. Reststoffe werden entsprechend den gesetzlichen Vorschriften fachgerecht entsorgt.</p>
    </div>
    <div class="flex contrat__articles__item">
        <p>9°)</p>
        <p class="mb-20">Der Auftragnehmer bedient sich für die Vernichtung der ihm überlassenen Datenträger weder
            Dritter noch Subunternehmern. Hiervon ausgenommen sind Transporte, Lagerung und Vernichtung durch Mutter-
            oder Tochterunternehmen der Reisswolfbetriebe. Eine eventuell erforderliche Vergabe von Unteraufträgen ist
            nur nach vorheriger schriftlicher Zustimmung des Auftraggebers zulässig.</p>
    </div>
    <div class="flex contrat__articles__item">
        <p>10°)</p>
        <p class="mb-20">Die Bestimmungen des DSG, der VDSG und die Weisungen des eidg. Datenschutzbeauftragten
            hinsichtlich Verarbeitung von Daten im Auftrag sind dem Auftragnehmer bekannt und werden vollständig
            berücksichtigt. Dasselbe gilt auch für den Artikel 47 aus dem Auszug des Bankengesetzes für die
            Geheimhaltung.</p>
    </div>
    <div class="flex contrat__articles__item">
        <p>11°)</p>
        <p class="mb-20">Der Auftragnehmer kann infolge höherer Gewalt seine Leistungen ggf. ganz oder teilweise
            aussetzen oder nach Vereinbarung mit dem Auftraggeber auf andere Weise oder zu einem späteren Zeitpunkt
            durchführen.
        </p>
    </div>
    <div class="flex contrat__articles__item">
        <p>12°)</p>
        <p class="mb-20">Unregelmäßigkeiten bei der Ausführung des Vertrages oder der Vertragspflichten sind dem
            Ansprechpartner des Auftraggebers unverzüglich mitzuteilen.
        </p>
    </div>
</div>
