{% extends 'base_public.html.twig' %}

{% block main_content %}
    <!-- section -->
    <section class="page-404">

        <h1>ERROR</h1>

    </section>
    <!-- /section -->
{% endblock %}
