/.web-server-pid
/.DS_Store
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/node_modules/
/web/bundles/
/web/build/
/.idea
/web/uploads/files/*
/web/uploads/pictos/*
/web/uploads/pictures/*
/app/data/offer/notice/*
/app/data/tmp/*
/app/data/offer/tmp/*
/app/data/ticketFile/*
# Backup entities generated with doctrine:generate:entities command
**/Entity/*~
