<!DOCTYPE html>
<html>
<body>
<div style="width:100%; text-align: center">
    <img style="width: 100%" alt=""
         src="{{ absolute_url(asset('build/static/paprec_pdf_footer.jpg')) }}">
</div>
</body>
</html>
