{% extends "@PaprecPublic/Common/Base/package/base_index.html.twig" %}

{% block sidebar_info %}
    {{ render(controller('PaprecPublicBundle:Common:getSideBarInfo')) }}
{% endblock %}

{% block cta_panel %}{% endblock %}

{% block cinq_flux %}{% endblock %}

{% block main_content_index %}

    {% if products is not empty %}
        <div class="container__step">
            <div class="container__step-title">
                <h2>Ma solution recyclage</h2>
            </div>

            <div class="step">
                <div class="step__left">
                    <div class="step__title">
                        {% block product_step_title %}{% endblock %}
                    </div>
                </div>
                <div class="step__right">
                    {% block products %}

                    {% endblock %}
                </div>

            </div>
        </div>


        <div class="clearfix"></div>
        {% block cta_bottom_panel %} {% endblock %}
    {% else %}
        <div class="step step--index">
            <div class="unavailable-area">
                <div class="unavailable-area__msg-container">
                    <div class="unavailable-area__msg-container__title">
                        Cette zone n'est pas disponible en ligne
                    </div>
                    <div class="unavailable-area__msg-container__message">
                        Désolé, nous ne livrons pas actuellement à cet endroit.<br>
                        Vous pouvez cependant <span>faire une demande personnalisée.</span>
                    </div>
                </div>
                <div class="unavailable-area__btn-container">
                    <a href="{{ path('paprec_public_corp_home_index') }}">
                        <div class="button button--green">Demande personnalisée</div>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
