/*FOOTER*/

footer {
  background-color: #d9dde4;
  margin-top: 100px;

  .footer {
    padding-top: 30px;
    h3 {
      color: $primary;
      font-size: 24px;
      font-weight: $font-regular;
      padding-bottom: 10px;
      margin-top: 30px;
    }

    img {
      margin-right: 20px;
      width: 80px;
    }

    i {
      margin-right: 15px;
    }

    &__list {
      margin-left: 10px;
      margin-bottom: 30px;
      li {
        position: relative;
        margin-left: 20px;
        list-style: none;
        padding-bottom: 12px;
        i {
          position: absolute;
          left: -30px;
          top: 3px;
          color: $secondary;
        }
      }
    }

    &__sites {
    margin-bottom: 60px;
      a {
        font-weight: $font-regular !important;
        color: $secondary !important;
        &:hover {
          color: #1a2856 !important;
          text-decoration: underline !important;
        }
      }
    }

    &__divider {
      margin: 30px 0 30px 0;
      border-bottom:1px solid #C3C1C2;
      width:100%;
      height:1px;
    }

    &__legal {
      a {
        color: $primary;
        font-weight: $font-regular !important;
        &:hover {
          text-decoration: underline !important;
          color: #1a2856 !important;
        }
      }
    }

    .btn {
      margin-bottom: 20px;
    }

  }



  .copyright {
    font-family: $font-family-2;
    background-color: $secondary;
    padding: 24px;
    font-size: 18px;
    text-align: center;

    a {
      color: $white;
      text-decoration: underline;
      &:hover {
        text-decoration: underline !important;
      }
    }
  }
}
