@import "~bootstrap/scss/bootstrap";
@import "~components-font-awesome/css/fontawesome-all.min.css";
//@import "~@fortawesome/fontawesome-free/scss/regular";

@import "~datatables.net-bs4/css/dataTables.bootstrap4.min.css";
@import "~datatables.net-select-bs4/css/select.bootstrap4.min.css";
@import "~datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css";
@import "~datatables.net-rowreorder-bs4/css/rowReorder.bootstrap4.min.css";
@import "~eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css";

@import "customBootstrap";
@import "product";