/*MEDIAS QUERIES*/

@media (min-width: 1200px) {
  .container {
   // max-width: 1230px;
  }
}

@media (min-width: 990px) and (max-width: 1200px) {
  .navbar .navbar-nav {
    justify-content: flex-end;
  }
}

@media (min-width: 990px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 20px ;
    padding-left: 20px ;
  }
}

@media (min-width: 768px) {

  /* Navigation */

  .navbar {
    .nav-link i {
      display: none;
    }
  }
}

@media (max-width: 1200px) {
  .navbar-nav {
    margin: auto;
  }
  .product__title {
    margin-top: 15px;
  }
  .product__image {
    margin-top: 10px;
  }
  .devis__frequency-container button {
    align-self: center !important;
  }
  .product__quantity {
    margin-bottom: 20px;
  }
}

@media (max-width: 1200px) {
  .navbar .navbar-nav {
    justify-content: space-between;
    width: 100%;
  }
}

@media (max-width: 990px) {
  .footer__divider {
    margin-top: 0 !important;
  }
}


@media (max-width: 768px) {

  /* Page product */
  form {
    .form-container {
      margin-right: -15px;
      margin-left: -15px;

      .col-md-6 {
        padding-right: 15px;
        padding-left: 15px;
      }
    }

    button {
      float: none;
      display: block !important;
      margin: auto;
    }
  }

  .devis__frequence {
    select {
      max-height: 30px;
    }
  }

  /* Header */

  .navbar-brand {
    img {
      max-height: 60px;
    }
  }

  /* footer */

  footer {
    margin-top: 15px;
    .footer__sites {
      margin-bottom: 30px;
    }
  }

}

@media (max-width: 767px) {
  .top-bar__top-contact {
    span {
      display: none;
    }
  }

  /* Navigation */
  .navbar {
    & .navbar-nav {
      margin: auto !important;
    }

    & .nav-link {
      padding-top: 22px;
      padding-left: 15px !important;
      margin: 5px 0;
      text-align: center;
    }
    & .dropdown-menu {
      border: 0;
      box-shadow: none;
      text-align: center;
    }
    & .dropdown-menu a {
      color: $darkgray;
    }

    .menu {
      padding-top: 20px !important;
      padding-bottom: 20px !important;
    }
  }
}

@media (max-width: 500px) {
  .top-bar__top-social-flags ul li:last-child a {
    margin-right: 10px !important;
  }
  .custom-toggler.navbar-toggler {
    align-self: center;
  }
  .navbar .menu {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
}

@media (max-width: 425px) {
  h2 {
    font-size: 21px;
  }
  .product {
    padding-right: initial;
    padding-left: initial;
  }
}

@media (max-width: 350px) {
  .devis__frequency-container {
    padding: 0;
  }
}
