/***** Page séleciton du type de besoin REGULIER ou PONCTUAL ******/

.type-container {
  margin-bottom: 40px;
}


.type {
  margin-bottom: 30px;

  &__block {
    height: 100%;
    &__body {
      flex-direction: column;
      justify-content: space-between;
      background-color: #F2F2F2;
      padding: 30px;
      height: 100%;
    }
  }

  &__button {
    max-width: 175px;
  }

  h3 {
    text-transform: initial;
    color: #444444;
  }

  ul {
    margin-left: 15px;
    li {
      list-style: disc !important;
      padding-left: 10px;
    }
  }

  .flex-1 {
    flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
  }
}
