/*COLOR
------------------*/
$primary: #333333;
$secondary: #2C4491;
$lightgray: #F2F2F2;
$mdgray: #D8D8D8;
$darkgray:#4A4A4A;

$white: #fff;
$black: #000;


/*----------------
      FONTS
------------------ */
$font-family-1: 'Oswald', sans-serif;
$font-family-2: 'Arimo', sans-serif;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

// /*----------------
//       BORDER
// ------------------ */
$border-radius-xs: 3px;
$border-radius-md: 10px;
$border-radius-lg: 50px;
//
// /*----------------
//       FONTS-SIZE
// ------------------ */
$font-title: 28px;
$font-sub-title: 18px;
$font-text: 16px;
