<style type="text/css">
</style>

{#<pre>#}
{#    {{ dump(data) }}#}
{#</pre>#}
<div class="contrat__content">

    <!-- article 6 -->
    <p class="center-text mb-20 mt-30">§ 6 – HAFTUNG</p>
    <div class="flex contrat__articles__item">
        <p>1°)</p>
        <p class="mb-20">Ab protokollierter Übergabe der Datenträger haftet der Auftragnehmer für den sicheren Transport
            und die auftragsgemässe Vernichtung.</p>
    </div>
    <div class="flex contrat__articles__item">
        <p>2°)</p>
        <p class="mb-20">Der Auftragnehmer haftet gegenüber dem Auftraggeber für alle Schäden, die nach Materialübergabe
            durch missbräuchliche Verwendung der Datenträger und/oder Verstösse gegen das DSG entstehen. Dies beinhaltet
            insbesondere auch, aber nicht ausschliesslich, Schadenersatz im Falle einer Verletzung von IP Rechten
            Dritter im Rahmen der Durchführung dieses Vertrages. Bei einfacher Fahrlässigkeit, auch von Hilfspersonen,
            beträgt der Haftungshöchstbetrag jedoch CHF 50‘0000.--. Jede weitere Haftung wird soweit gesetzlich zulässig
            ausgeschlossen.</p>
    </div>
    <div class="flex contrat__articles__item">
        <p>3°)</p>
        <p class="mb-20">Der Auftragnehmer wird dieses Risiko durch eine Vermögensschadenshaftpflichtversicherung in
            Höhe von Fr. 5'000'000.-- abdecken.</p>
    </div>
    <div class="flex contrat__articles__item">
        <p>4°)</p>
        <p class="mb-20">Der Auftraggeber haftet für den Verlust und/oder die Beschädigung der ihm zur Verfügung
            gestellten Sicherheitsbehälter, Schlösser und Schlüssel.</p>
    </div>
    <div class="flex contrat__articles__item">
        <p>5°)</p>
        <p class="mb-20">Sowohl der Auftraggeber als auch der Auftragnehmer haften nicht für Schäden, die infolge
            höherer Gewalt (Streik, Aussperrung etc.) entstehen.</p>
    </div>
    <div class="flex contrat__articles__item">
        <p>6°)</p>
        <p>Der Auftraggeber haftet für Schäden an den Maschinen des Auftragnehmers, die nachweislich durch Befüllen der
            Sicherheitsbehälter mit anderen als den vereinbarten Materialien entstehen. Dies sind insbesondere
            Stahlbolzen, Werkzeuge, Haushalts- und Elektrogeräte, Autoteile oder Sperrmüll. Ausgenommen sind Heft- und
            Büroklammern oder Hebelmechaniken von Aktenordnern.</p>
    </div>

    <!-- article 7 -->
    <p class="center-text mb-20 mt-30">§ 7 – LEISTUNGEN</p>
    <div class="flex contrat__articles__item">
        <p>1°)</p>
        <p class="mb-20" style="text-align: left">Die Preise für die vereinbarte Leistung werden in Anlage 2 festgelegt.</p>
    </div>
    <div class="flex contrat__articles__item">
        <p>2°)</p>
        <p class="mb-20">Wenn eine allgemeine Erhöhung der Kosten seit Vertragsabschluss oder der letzten Änderung
            eingetreten ist, ist das vereinbarte Entgelt neu zu regeln. Dies gilt insbesondere bei massgeblichen
            Änderungen von gesetzlichen Bestimmungen oder behördlichen Auflagen, Tarifabschlüssen sowie
            Marktveränderungen bei der Wiederverwertung, die wirtschaftliche Grundlage dieses Vertrages wesentlich
            verändern.</p>
    </div>
    <div class="flex contrat__articles__item">
        <p>3°)</p>
        <p>Nach erbrachter Leistung erfolgt die Abrechnung durch den Auftragnehmer. Die Rechnungen sind innerhalb 30
            Tagen rein netto fällig.</p>
    </div>

    <!-- article 8 -->
    <p class="center-text mb-20 mt-30">§ 8 - ANSPRECHPARTNER</p>
    <div class="flex contrat__articles__item">
        <p>1°)</p>
        <p class="mb-20">Die Niederlassungen der Vertragsparteien und die jeweiligen Ansprechpartner sind ebenfalls in
            Anlage 1 aufgelistet.</p>
    </div>
    <div class="flex contrat__articles__item">
        <p>2°)</p>
        <p class="mb-20">Bei schwerwiegenden Störungen des Vernichtungsprozesses, sowie bei Verdacht auf Verstoss gegen
            Bestimmungen des DSG ist der Auftraggeber unverzüglich vom Auftragnehmer zu informieren.</p>
    </div>
    <div class="flex contrat__articles__item">
        <p>3°)</p>
        <p>Bei Störungen im Ablauf oder Verstössen gegen das DSG oder andere Datenschutzbestimmungen, insbesondere bei
            Verdacht auf Verlust von Datenträgern vor der Übergabe, ist der Auftragnehmer unverzüglich vom Auftraggeber
            zu informieren, sofern sich die Störungen oder Verstösse auch auf die Pflichten des Auftragnehmers auswirken
            können.</p>
    </div>

</div>
