<style type="text/css">

</style>

{#<pre>#}
{#    {{ dump(data) }}#}
{#</pre>#}
<div class="contrat__content">

    <!-- article 4 -->
    <p class="center-text mb-20 mt-30">§ 4 – PFLICHTEN DES AUFTRAGGEBERS</p>
    <div class="flex contrat__articles__item">
        <p>1°)</p>
        <p class="mb-20">Der Auftraggeber gewährleistet, dass das zu vernichtende Datenmaterial frei von Unrat und frei
            von Gegenständen ist, die bei der Vernichtung eingesetzten Maschinen beschädigen könnten. Er stellt
            ausserdem sicher, dass die Behälter nur mit den vorher vereinbarten Datenträgern befüllt werden. Eine
            Vermischung mit verschiedenen Datenträgern (System AV, DV, MV) oder die Befüllung mit anderen als den vorher
            vereinbarten Datenträgern berechtigen den Auftragnehmer zur Preisanpassung an das jeweilige
            Vernichtungssystem.</p>
    </div>
    <div class="flex contrat__articles__item">
        <p>2°)</p>
        <p class="mb-20">Der Auftraggeber trägt dafür Sorge, dass die ihm übergebenen Sicherheitsbehälter, Schlösser und
            Schlüssel/Badges weder beschädigt werden noch abhandenkommen. Schäden an Behältern oder Verluste von
            Schlüsseln sind dem Auftragnehmer unverzüglich schriftlich anzuzeigen.</p>
    </div>
    <div class="flex contrat__articles__item">
        <p>3°)</p>
        <p class="mb-20">Insbesondere weist der Auftraggeber seine Mitarbeiter an, bei der Befüllung der Behälter keine
            Gewalt anzuwenden und die Behälter nicht gepresst zu befüllen. Bei der Papierkorbentsorgung macht er seine
            Mitarbeiter darauf aufmerksam, dass keine sonstigen Fremdmaterialien, wie z.B. Speisereste, Kunststoffreste,
            kehrichtähnlicher Abfall u.ä. über die Behälter entsorgt werden. Ein Befüllen mit harten, nicht
            zerkleinerungsfähigen Gegenständen jeglicher Art ist unzulässig.</p>
    </div>
    <div class="flex contrat__articles__item">
        <p>4°)</p>
        <p class="mb-20">Die zur Abholung bestimmten Behälter werden an einem Ort aufgestellt, von dem aus die
            Beauftragten des Auftragnehmers sie mit zumutbarem Aufwand zum Transportfahrzeug rollen können. Der
            Auftraggeber stellt dem Auftragnehmer die Behälter zum vereinbarten Zeitpunkt bereit. Zu diesem Zeitpunkt
            gewährt er dem Auftragnehmer freien Zugang zu den abzuholenden Sicherheitsbehältern. Die Behälter müssen zur
            Abholung ordnungsgemäss verschlossen sein.</p>
    </div>
    <div class="flex contrat__articles__item">
        <p>5°)</p>
        <p class="mb-20">Sabotage oder Manipulationen an den Sicherheitsbehältern oder deren Verschlusseinrichtungen
            während der Standzeit beim Auftraggeber sind durch entsprechende organisatorische Massnahmen zu
            unterbinden.</p>
    </div>
    <div class="flex contrat__articles__item">
        <p>6°)</p>
        <p class="mb-20">Während der Standzeit der Sicherheitsbehälter beim Auftraggeber obliegt das Verschliessen und
            Sichern des Behälters dem Auftraggeber. Er hat dafür Sorge zu tragen, dass von den aufgestellten Behältern
            keine Gefahren ausgehen, z.B. durch unsachgemässe Aufstellung.</p>
    </div>
    <div class="flex contrat__articles__item">
        <p>7°)</p>
        <p class="mb-20">Der Auftraggeber hat dafür Sorge zu tragen, dass unbefugten Dritten der Zugang zu Datenträgern
            im eigenen Hause verwehrt wird.</p>
    </div>
    <div class="flex contrat__articles__item">
        <p>8°)</p>
        <p class="mb-20">Unregelmässigkeiten bei der Ausführung des Vertrages oder der Vertragspflichten sind dem
            Ansprechpartner des Auftragnehmers unverzüglich anzuzeigen.</p>
    </div>

    <!-- article 5 -->
    <p class="center-text mb-20 mt-30">§ 5 – KONTROLLEN</p>
    <p>Der Auftraggeber hat das Recht, Transport und Vernichtung der Datenträger jederzeit zu überwachen, soweit nicht
        die Sicherheitsbedürfnisse anderer Auftraggeber dadurch berührt werden. Die Überwachung erfolgt in Abstimmung
        mit dem Auftragnehmer, der die erforderliche Hilfestellung gewährleistet.</p>
</div>

