@charset "UTF-8";
/*COLOR
------------------*/
/*----------------
      FONTS
------------------ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Arimo", sans-serif !important;
  color: #333333 !important;
  font-size: 16px !important;
  line-height: 22px !important; }

h2, h3 {
  font-family: "Oswald", sans-serif; }

h2 {
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 40px; }

h3 {
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 10px; }

a {
  color: #2C4491;
  font-weight: 700; }
  a:hover {
    text-decoration: none !important; }

/*FOOTER*/
footer {
  background-color: #F2F2F2;
  margin-top: 100px; }
  footer .footer {
    padding: 25px 0 45px; }
    footer .footer h3 {
      color: #333333;
      font-size: 20px;
      font-weight: 400;
      border-bottom: 1px solid #D8D8D8;
      padding-bottom: 20px;
      margin-top: 20px; }
    footer .footer img {
      margin-right: 20px;
      width: 80px; }
    footer .footer i {
      margin-right: 15px; }
    footer .footer__list {
      margin-left: 10px; }
      footer .footer__list li {
        position: relative;
        margin-left: 20px;
        list-style: none; }
        footer .footer__list li i {
          position: absolute;
          left: -30px;
          top: 3px; }
  footer .copyright {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    line-height: 28px;
    background-color: #2C4491;
    padding: 30px 0 40px;
    color: #fff;
    font-size: 24px;
    text-align: center; }
    footer .copyright a {
      color: #fff;
      font-weight: 500;
      text-decoration: underline; }

/*BREADCRUMB*/
.breadcrumb {
  background-color: #F2F2F2; }

/*BUTTON*/
.btn {
  border-radius: 4px;
  height: 38px;
  font-size: 14px;
  height: auto;
  transition: all .3s ease-in-out; }
  .btn__large {
    padding-left: 25px;
    padding-right: 25px; }
  .btn:focus {
    box-shadow: none !important; }
  .btn__blue {
    background-color: #2C4491;
    color: #fff; }
    .btn__blue:hover {
      color: #fff !important;
      background-color: rgba(255, 196, 0, 0.8) !important; }

.divider {
  width: 40px;
  height: 2px;
  display: inline-block;
  margin: 30px 0;
  background-color: #2C4491; }

/***** Page catalogue de service ******/
.page-section h2 span {
  display: block; }

.product-container {
  margin-right: -40px;
  margin-left: -40px; }
  .product-container .col-md-6 {
    padding-right: 40px;
    padding-left: 40px; }

.product {
  margin-bottom: 50px; }
  .product__image img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    margin-bottom: 15px; }
  .product__description {
    text-align: justify;
    max-height: 135px;
    overflow: hidden; }
  .product__quantity {
    text-align: right;
    margin-top: 20px;
    color: #4A4A4A;
    font-size: 14px;
    font-weight: 700; }
    .product__quantity button {
      margin-left: 20px; }
    .product__quantity select {
      -webkit-appearance: none !important;
      -moz-appearance: none !important;
      appearance: none !important;
      background: url(../img/arrow-down.svg) 125%/65% no-repeat;
      padding: 0 17px 0 8px; }

.devis {
  background-color: #F2F2F2;
  padding: 15px; }
  .devis h3 {
    text-transform: initial; }
  .devis__recap {
    background-color: #D8D8D8;
    padding: 15px 15px 10px;
    margin-bottom: 15px; }
    .devis__recap__item {
      display: flex;
      margin-bottom: 5px; }
  .devis__frequence {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }

/***** Page Contact ******/
form {
  color: #333333; }
  form .form-container {
    margin-right: -40px;
    margin-left: -40px; }
    form .form-container .col-md-6 {
      padding-right: 40px;
      padding-left: 40px; }
  form label {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 10px;
    display: block; }
  form button {
    background-color: #D8D8D8 !important;
    color: #fff !important;
    float: right; }
    form button.valid {
      background-color: #2C4491 !important; }
  form .form-control {
    border: 1px solid #979797;
    color: #333333;
    -webkit-appearance:  none !important;
    -moz-appearance:  none !important;
    appearance:  none !important; }
  form .invalid-feedback {
    margin-top: 0 !important;
    float: left;
    line-height: initial; }
  form .radio-form {
    height: calc(1.5em + .75rem + 2px); }
    form .radio-form label {
      font-weight: 400;
      margin: 0 20px 0 8px; }
  form .form-check-inline .form-check-input {
    margin-top: -3px; }
  form select {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    color: #D8D8D8 !important;
    background: url(../img/arrow-down.svg) 100%/5% no-repeat; }

/***** Page Confirmation ******/
.confirmation img {
  width: 60%; }

/*MEDIAS QUERIES*/
@media (min-width: 1200px) {
  .container {
    max-width: 1230px; } }
@media (max-width: 768px) {
  .product-container {
    margin-right: -15px;
    margin-left: -15px; }
    .product-container .col-md-6 {
      padding-right: 15px;
      padding-left: 15px; }

  form .form-container {
    margin-right: -15px;
    margin-left: -15px; }
    form .form-container .col-md-6 {
      padding-right: 15px;
      padding-left: 15px; }
  form button {
    float: none;
    display: block !important;
    margin: auto; }

  .devis__frequence button {
    margin: 15px auto; }

  footer {
    margin-top: 15px; } }
@media (max-width: 425px) {
  h2 {
    font-size: 21px; } }

/*# sourceMappingURL=styles.css.map */
