<style type="text/css">

</style>

{#<pre>#}
{#    {{ dump(data) }}#}
{#</pre>#}
<div class="contrat__content">

        <!-- article 4 -->
    <p class="center-text mb-20 mt-30">Article 4 – OBLIGATIONS DU CLIENT</p>
    <div class="flex contrat__articles__item">
        <p>1°)</p>
        <p>Le client garantit que les données à détruire sont exemptes de déchets et exemptes d’objets susceptibles
            d’endommager les machines mises en œuvre pour leur destruction. Par ailleurs, il s’assurera que les
            collecteurs ne sont remplis qu’avec les supports de données préalablement convenus. Un mélange de différents
            supports de données (systèmes AV, DV, MV) ou le remplissage avec des supports de données autres que ceux
            préalablement convenus autorisent le prestataire à adapter les prix au système de destruction
            correspondant.</p>
    </div>
    <div class="flex contrat__articles__item">
        <p>2°)</p>
        <p>Le client veillera à ce que les collecteurs de sécurité, les serrures et les clés/badges qui lui ont été
            remis ne soient ni endommagés ni perdus. Tout endommagement des collecteurs et toute perte de clés devront
            immédiatement être signalés par écrit au prestataire.</p>
    </div>
    <div class="flex contrat__articles__item">
        <p>3°)</p>
        <p>En particulier, le client enjoindra ses collaborateurs de ne pas faire usage de la force pour remplir les
            collecteurs et de ne pas les bourrer. Lors du vidage des corbeilles à papier, il attirera l’attention de ses
            collaborateurs sur le fait les matières parasites diverses, telles que restes de nourriture, résidus de
            plastique, déchets de type balayures, etc., ne peuvent être éliminées via les collecteurs. Leur remplissage
            avec des objets durs de toutes sortes inaptes au broyage est interdit. </p>
    </div>
    <div class="flex contrat__articles__item">
        <p>4°)</p>
        <p>Les collecteurs destinés à l’enlèvement seront positionnés à un emplacement à partir duquel les agents du
            prestataire, au prix d’un effort raisonnable, pourront les amener au véhicule de transport en les faisant
            rouler. Le client mettra les collecteurs à la disposition du prestataire à la date convenue. À cette date,
            il assurera au prestataire un libre accès aux collecteurs de sécurité devant être enlevés. Pour leur
            enlèvement, les collecteurs devront être verrouillés en bonne et due forme.</p>
    </div>
    <div class="flex contrat__articles__item">
        <p>5°)</p>
        <p>Tout sabotage et toute manipulation des collecteurs de sécurité ou de leurs dispositifs de verrouillage
            pendant la durée de leur présence dans les locaux du client devront être empêchés par des mesures
            organisationnelles appropriées. </p>
    </div>
    <div class="flex contrat__articles__item">
        <p>6°)</p>
        <p>Pendant la durée de la présence des collecteurs de sécurité dans les locaux du client, le verrouillage et la
            sécurisation des collecteurs incombe au client. Il est tenu de veiller à ce que les collecteurs installés ne
            génèrent aucun danger, par exemple par une mise en place inappropriée.</p>
    </div>
    <div class="flex contrat__articles__item">
        <p>7°)</p>
        <p>Le client est tenu de veiller à ce que, dans ses propres locaux, tout accès aux supports de données soit
            interdit aux tiers non autorisés.
        </p>
    </div>
    <div class="flex contrat__articles__item">
        <p>8°)</p>
        <p>Toute irrégularité dans l’exécution du contrat ou des obligations contractuelles devra immédiatement être
            signalée à l’interlocuteur auprès du client.
        </p>
    </div>

    <!-- article 5 -->
    <p class="center-text mb-20 mt-30">Article 5 – CONTRÔLES</p>
    <p>Le client a le droit de surveiller à tout moment le transport et la destruction des supports de données à
        condition que les exigences de sécurité d’autres clients n’en soient pas affectées. Cette surveillance
        interviendra en accord avec le prestataire qui fournira l’assistance nécessaire.
    </p>
</div>

