<style type="text/css">
</style>

{#<pre>#}
{#    {{ dump(data) }}#}
{#</pre>#}
<div class="contrat__content">

    <!-- article 6 -->
    <p class="center-text mb-20 mt-30">Article 6 – RESPONSABILITÉ</p>
    <div class="flex contrat__articles__item">
        <p>1°)</p>
        <p>À partir de la remise des supports de données consignée sur procès-verbal, le prestataire assume la
            responsabilité de leur transport en toute sécurité et de leur destruction conforme au mandat confié. </p>
    </div>
    <div class="flex contrat__articles__item">
        <p>2°)</p>
        <p>Vis-à-vis du client, le prestataire assume la responsabilité de tous dommages survenant après remise des
            matières par l’utilisation abusive des supports de données et/ou des violations de la Loi fédérale sur la
            protection des données (LPD), ce qui inclut notamment, mais non exclusivement, des dommages-intérêts en cas
            de violation des droits de propriété intellectuelle de tiers dans le cadre de l’exécution du présent
            contrat. Toutefois, en cas de négligence légère, même imputable à des personnels auxiliaires, la limite de
            responsabilité s’élève à CHF 50 000,00. Dans les limites légales, toute autre responsabilité est exclue.</p>
    </div>
    <div class="flex contrat__articles__item">
        <p>3°)</p>
        <p>Le prestataire couvrira ce risque par une assurance responsabilité civile préjudice de fortune d’un montant
            de CHF 5 000 000,00. </p>
    </div>
    <div class="flex contrat__articles__item">
        <p>4°)</p>
        <p>Le client assumera la responsabilité de la perte et/ou de la détérioration des collecteurs de sécurité, des
            serrures et des clés mis à sa disposition.</p>
    </div>
    <div class="flex contrat__articles__item">
        <p>5°)</p>
        <p>Ni le client, ni le prestataire n’assument aucune responsabilité pour des dommages survenant en cas de force
            majeure (grève, lockout, etc.).</p>
    </div>
    <div class="flex contrat__articles__item">
        <p>6°)</p>
        <p>Le client assumera la responsabilité des dommages subis par les machines du prestataire dont il sera prouvé
            qu’ils ont été causés par le remplissage des collecteurs de sécurité avec d’autres matières que celles
            convenues. Ces matières sont notamment les boulons en acier, les outils, les appareils ménagers et les
            appareils électriques, les pièces automobiles ou les déchets encombrants. Ne sont pas visés par cette
            disposition les agrafes, les trombones et les mécanismes à levier des classeurs.</p>
    </div>

    <!-- article 7 -->
    <p class="center-text mb-20 mt-30">Article 7 – PRESTATIONS</p>
    <div class="flex contrat__articles__item">
        <p>1°)</p>
        <p>Les prix de la prestation convenue sont fixés en Annexe 2.</p>
    </div>
    <div class="flex contrat__articles__item">
        <p>2°)</p>
        <p>Si une augmentation générale des coûts est intervenue depuis la conclusion du contrat ou sa dernière
            modification, la rémunération convenue devra être révisée. Cette disposition s’appliquera notamment en cas
            de modifications substantielles de dispositions légales ou d’exigences réglementaires, d’accords salariaux
            ainsi que de modifications du marché du recyclage altérant de manière essentielle le fondement économique du
            présent contrat.</p>
    </div>
    <div class="flex contrat__articles__item">
        <p>3°)</p>
        <p>La facturation par le prestataire interviendra après fourniture de la prestation. Les factures sont payables
            net dans un délai de 30 jours.
        </p>
    </div>

    <!-- article 8 -->
    <p class="center-text mb-20 mt-30">Article 8 - INTERLOCUTEURS</p>
    <div class="flex contrat__articles__item">
        <p>1°)</p>
        <p>Les succursales des parties contractuelles et leurs interlocuteurs respectifs sont également listés en Annexe
            1. </p>
    </div>
    <div class="flex contrat__articles__item">
        <p>2°)</p>
        <p>En cas de perturbations graves du process de destruction, ainsi qu’en cas de présomption de violation des
            dispositions de la Loi fédérale sur la protection des données (LPD), le client devra être immédiatement
            informé par le prestataire. </p>
    </div>
    <div class="flex contrat__articles__item">
        <p>3°)</p>
        <p>En cas de perturbations dans le déroulement du process ou de violations de la LPD ou d’autres dispositions de
            protection des données, notamment en cas de présomption de perte de supports de données avant leur remise,
            le prestataire devra immédiatement être informé par le client dès lors que ces perturbations ou violations
            sont susceptibles d’avoir également des incidences sur les obligations du prestataire.</p>
    </div>

</div>
