<style type="text/css">

    /* Articles */

    .contrat__ref {
        padding-bottom: 15px;
    }

    .contrat__ref h1 {
        text-align: center;
        margin-bottom: 50px;
    }

    .contrat__articles {
        padding-top: 30px;
    }
    .contrat__articles__item p:nth-child(2) {
        padding-left: 50px;
    }

</style>

<div class="contrat__content">

    <div class="contrat__ref">
        <h1>Contrat</h1>
        <p class="mb-20">Entre</p>
        <div class="flex space-between bold">
            <p style="width: 50%;">{{quoteRequest.firstName}} {{ quoteRequest.lastName }}</p>
            <p>N° de client Saisie manuelle</p>
        </div>

{#        <p>SELON INFORMATIONS Formulaire</p>#}

        <p class="mt-20 mb-20">(ci-après dénommé <span class="bold">« client »</span>)</p>

        <p style="margin-top:10px;"><span class="bold">REISSWOLF Aktenvernichtungs-AG</span><br>
            Site de Lucerne<br>
            Kantonstrasse 5<br>
            CH-6033 Buchrain</p>

        <p class="mt-20">(ci-après dénommé <span class="bold">« prestataire »</span>)</p>
        <p class="mt-20">est conclu le contrat suivant :</p>

    </div>

    <div class="contrat__articles">

        <!-- article 1 -->
        <p class="center-text mb-20">Article 1er – OBJET DU CONTRAT</p>
        <p>Le présent contrat régit la prise en charge, le transport et le stockage conformes au mandat confié contrat
            et en bonne et due forme, ainsi que la destruction par les soins du prestataire, avec retour d’information
            garanti, de supports de données que le client a destinés à la destruction. Dans le détail, ces supports de
            données sont les suivants :</p>
        <div class="flex contrat__articles__item">
            <p>-</p>
            <p>supports de données papier, tels que tirages papiers, documents y compris classeurs, contenus de
                corbeilles à papier, etc., en format original (SYSTÈME AV) ;</p>
        </div>
        <div class="flex contrat__articles__item">
            <p>-</p>
            <p>rubans carbone, bandes magnétiques, disquettes, cartes d’identité, disques durs, ordinateurs, ordinateurs
                portables, tablettes, clés USB, téléphones portables, cartes bancaires, etc., avec représentation
                cryptée de l’information (SYSTÈME DV) ;</p>
        </div>
        <div class="flex contrat__articles__item">
            <p>-</p>
            <p>supports de données à représentation réduite, tels que microfilms et microfiches (SYSTÈME MV).</p>
        </div>


        <!-- article 2 -->
        <p class="center-text mb-20 mt-30">Article 2 – PRISE EN CHARGE DES SUPPORTS DE DONNÉES</p>
        <div class="flex contrat__articles__item">
            <p>1°)</p>
            <p>Vis-à-vis du client, la personne habilitée à la prise en charge justifiera de son identité par la
                présentation d’un badge de sécurité revêtu d’une photographie et portant un numéro de pièce
                d’identité.</p>
        </div>
        <div class="flex contrat__articles__item">
            <p>2°)</p>
            <p>La personne habilitée à la prise en charge délivrera un procès-verbal préétabli – soit sur support
                papier, soit en format électronique – dans lequel la remise et la prise en charge des supports de
                données seront constatées par les deux parties contractuelles.</p>
        </div>
        <div class="flex contrat__articles__item">
            <p>3°)</p>
            <p>Le prestataire n’acquiert aucun droit sur les supports de données du client qu’il a pris en charge, ni sur
                les données qu’ils contiennent. Les données ne seront ni consultées, ni transmises, ni sauvegardées, ni traitées
                d’une autre manière que celle décrite à l’article 3.</p>
        </div>
    </div>
</div>
