<style type="text/css">

    /*Header*/
    .contrat__header {
        padding-top: 25px;
    }

    .contrat__header > div:first-child {
        width: 88%;
        border-bottom: 14px solid #cccccc;
        margin: 0 5px 13px 0;
    }

</style>

<div class="flex contrat__header">
    <div></div>
    <div>
        <img src="{{ absolute_url(asset('build/static/reisswolf_logo_pdf.png')) }}" alt="logo Reisswolf">
    </div>
</div>
