<style type="text/css">
</style>

{#<pre>#}
{#    {{ dump(data) }}#}
{#</pre>#}
<div class="contrat__content">

    <div class="flex space-between bold">
        <h2>ANNEXE 1 </h2>
        <p>{% if quoteRequest.customerId is defined %}N°{{ quoteRequest.customerId }}{% endif %}</p>
    </div>

    <p class="mb-20">au contrat en date du {{ date|date('d/m/Y') }} conclu entre</p>
    <p>{{ quoteRequest.businessName }}</p>
    <p>et</p>
    <p>REISSWOLF Aktenvernichtungs-AG</p>

    <h3 class="mt-30">INTERLOCUTEURS</h3>

    {#INTERLOCUTEUR 1#}
    <p class="bold mt-20 mb-20">Reisswolf Aktenvernichtungs-AG</p>
    <p class="bold">(interlocuteurs région RW)</p>
    <div class="flex">
        <div class="w50">
            <p>Nom (fonction)</p>
            <p>Nom (fonction)</p>
        </div>
        <div>
            <p>Tél. : +41 61</p>
            <p>Tél. : +41 61</p>
            <p>E-Mail : luzern@reisswolf.ch</p>
        </div>
    </div>

    <p class="bold mt-20">Responsable de la protection des données :</p>
    <div class="flex">
        <div class="w50">
            <p>Frau Saskia Strahberger (DPO)</p>
        </div>
        <div>
            <p>Tél. : +41 61 511 25 38</p>
            <p>E-Mail : dpo@reisswolf.ch</p>
        </div>
    </div>

    {#INTERLOCUTEUR 2#}
    <p class="bold mt-20 mb-20">Muster AG</p>
    {#ajouter dans le formulaire une possibilité de saisir le nom du signataire N°2)
    Et donc reprendre ici les deux signataires#}
    <div class="flex">
        <div class="w50">
            <p>Madame Muster</p>
        </div>
        <div>
            <p>Tél. : +41 61</p>
            <p>Tél. : +41 61</p>
            <p>E-Mail : muster@reisswolf.com </p>
        </div>
    </div>
</div>
