{% extends 'base_public.html.twig' %}
{% block breadcrumb_title %}
    {{ 'Public.Confirm.BreadcrumbTitle'| trans({}, "messages", locale) }}
{% endblock %}
{% block breadcrumb_content %} {{ 'Public.Confirm.BreadcrumbContent'| trans({}, "messages", locale) }} {% endblock %}

{% block main_content %}
    <section class="page-section confirmation">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    <div class="row">
                        <div class="col-12">
                            <h2>
                                {{ 'Public.SignatoryConfirm.Title'| trans({}, "messages", locale) }}
                            </h2>
                            <div class="divider"></div>
                        </div>
                  
                    </div>
                </div>
                <div class="d-none d-lg-block col-lg-6 text-center">
                    <img src="{{ asset('build/static/paperplane.png') }}" alt="">
                </div>
            </div>
        </div>
    </section>
{% endblock %}

