{% for menu in items %}
    <li>
    <a href="{{ menu['url'] }}">{{ menu['title'] }}</a>
    {% if menu['submenus']|length > 0 %}
        <ul class="sub-menu">
        {% for submenu in menu['submenus'] %}
            <li><a href="{{ submenu['url'] }}">{{ submenu['title'] }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
    </li>
{% endfor %}
