<div class="overlay">

    <div class="recyclePopup">

        <div class="recyclePopup__close"><i class="fa fa-times"></i></div>

        <div class="recyclePopup__title">
            <h1>Je recycle mes déchets</h1>
            <p>Vous pouvez maintenant <b>choisir l’offre</b> qui vous convient le mieux :</p>
        </div>

        <div class="recyclePopup__block">
            <div class="recyclePopup__block__offre">
                <a href="{{ path('paprec_public_corp_home_index')}}" >
                    <div>
                        <h2>Je compose mon<br><span>offre recyclage</span></h2>
                        <p><b>Je compose ma solution recyclage sur-mesure</b><br>votre devis en quelques clics</p>
                    </div>
                </a>
            </div>

            <div class="recyclePopup__block__solution">
                    <div>
                        <div class="top">Solutions sans engagement</div>
                        <h2>Je commande ma<br><span>solution packagée</span></h2>
                        <div class="bottom active">
                            <p><b>Je commande en 5 min ma solution recyclage</b><br>Sélectionnez, réglez, recyclez</p>
                        </div>

                        <div class="block-btn">
                            <a href="{{ path('paprec_public_corp_chantier_subscription_packaged_index') }}" class="block-btn--orange">Chantier</a>
                            <a href="{{ path('paprec_public_corp_d3e_subscription_packaged_index') }}" class="block-btn--purple">D3E</a>
                            <a href="{{ paprec_easyrecyclage_5flux_url }}" class="block-btn--blue">Bureaux</a>
                        </div>

                    </div>
            </div>

        </div>

    </div>

</div>


