<div class="guide">
    <div class="guide__title">
        EASYRECYCLAGE,
        <br>
        C'EST SIMPLE ET RAPIDE
    </div>
    <div class="guide__step">
        Sélectionnez
        <br>
        vos déchets
    </div>
    <div class="guide__step">
        Validez
        <br>
        votre devis
    </div>
    <div class="guide__step">
        Triez vos déchets,
        <br>
        nous les collectons
        <br>
        et les valorisons
    </div>
</div>