{% extends "::base_admin.html.twig" %}

{% block title %}

{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block main_content %}

    <h3>{{ 'Home.Title'|trans }}</h3>

{% endblock %}

{% block javascripts %}

{% endblock %}
