{% extends "::base_admin.html.twig" %}

{% block title %}

{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block main_content %}

  <h3>Application d'administration E-SHOP REISSWOLF</h3>

{% endblock %}

{% block javascripts %}

{% endblock %}
